.dropdown-container {
  position: relative;
}

.dropdown-content {
  max-height: 0; /* Définir la hauteur maximale à 0 pour cacher le contenu */
  overflow: hidden; /* Cacher tout contenu qui dépasse la hauteur maximale */
  transition: max-height 0.5s ease-in-out; /* Transition plus lente pour la descente */
}

.dropdown-content.expanded {
  max-height: 200px; /* La hauteur maximale est ajustée pour afficher le contenu */
  transition: max-height 0.8s ease-in-out; /* Transition plus rapide pour la montée */
}

.toggle-text {
  cursor: pointer;
}